/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face{
    font-family: 'playfair';
    src: url('../vendor/webfonts/PlayfairDisplay-Regular.ttf') format('truetype');
}
/* Common Styling */
a{
	text-decoration: none;
	color: #000;
}
h2, h3, h4{
	font-family: 'Playfair Display', serif;
}
img{
	width: 100%;
	height: auto;
}
/* start of top nav section */
.toprightnav li{
    /* display: inline-block; */
	font-size: 15px;
	padding: 8px 16px;
/* }
.toprightnav a{
	padding: 8px 13px; */
}
.topnavbar h1{
	/* display: inline-block; */
	font-size: 15px;
	padding: 8px 16px;
}
header{
	display: flex;
	justify-content: space-between;
	letter-spacing: 4px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	/* width: 100%; */
	background-color: #fff;
	padding: 8px 16px;
	line-height: 1.5;
	box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
ul{
	display: flex;
}
nav{
	display: flex;
	/* display: inline-block; */
	/* position: absolute;
	right: 51px;
    top: 14px; */
}
/* end of top nav section */
/* start of banner section */
.title{
	color: #5a5b5d;
	font-size: 36px;
	position: absolute;
	left: 0;
	bottom: 0;
	letter-spacing: 5px;
	padding: 25px 24px;
}
/* end of banner section */
/* start of details section */
h3{
	font-size: 36px;
}
.content{
	/* display: inline-block; */
	/* width: 47%; */
	/* padding: 12px 24px; */
	box-sizing: border-box;
    flex: 0 1 47.75%;
	margin-left: auto;
}
.content h3{
	font-size: 36px;
	text-align: center;
	margin-top: 19px;
    letter-spacing: 5px;
}
.content h4{
	font-size: 18px;
	text-align: center;
	margin-top: 56.5px;
    letter-spacing: 5px;
}
.content p{
	font-size: 18px;
	line-height: 1.5;
	margin-top: 22px;
}
.content p:last-child{
	color: #757575;
}
.content p span {
    display: inline-block;
    background: #f1f1f1;
    padding: 0 8px;
}
/* .wrapper{
	width: 70%;
	margin: auto;
	padding: 72px 0;
} */
.about-section .wrapper{
	display: flex;
	width: 69.25%;
    margin: auto;
    padding: 72px 0;
}
.left-img{
	/* width: 48%; */
	/* display: inline-block; */
	opacity: 0.75;
	flex: 0 1 47.65%;
}
/* end of details section */
/* start of menu section */
.right-img{
	opacity: 0.75;
	flex: 0 1 47.65%;
}
.menu-section .wrapper{
	display: flex;
	width: 69.25%;
    margin: auto;
    padding-top: 96px;
    padding-bottom: 92px;
}
.menu-section h3{
	font-size: 36px;
	text-align: center;
	letter-spacing: 5px;
	margin-top: 19px;
    margin-right: 49px;
}
.menu-section h4{
	font-size: 20px;
	letter-spacing: 5px;
	margin: 10px 0;
	line-height: 1.5;
}
.menucard p{
	font-size: 15px;
	line-height: 1.5;
	color: #757575;
}
.menucard div{
	margin-top: 52px;
}
.menu{
	box-sizing: border-box;
    flex: 1 1 47.75%;
	margin-left: auto;
}
.menu-section{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;	
	margin-top: 22px;
}
/* end of menu section */
/* start of contact section */
.contactus{
	display: flex;
	flex-direction: column;
	width: 69.25%;
    margin: auto;
    padding-top: 93px;
    padding-right: 16px;
}
.contactus h3{
	font-size: 36px;
	margin: 10px 0;
	letter-spacing: 5px;
}
.contactus p{
	font-size: 15px;
	margin-top: 25px;
}
.contactus .add{
	font-size: 18px;
	color: #607d8b;
	font-weight: bold;
}
.text-field{
	width: 100%;
	border: 0;
	border-bottom: 1px solid #ccc;
	padding: 16px 0;
    margin-top: 20px;
    margin-left: 8px;
}
.button{
	border: 0;
    padding: 8px 16px;
    margin: 31px 0;
    font-size: 15px;
    font-family: serif;
}
.contactus h3 + p {
    margin-top: 47px;
    line-height: 1.5;
}
/* end of contact section */
/* start of footer */
footer{
	padding: 47px 0;
    background: #f1f1f1;
    text-align: center;
    font-size: 15px;
    line-height: 1.5;
}
/* end of footer */
